$header-bg: "../images/colors/white/bg.png" !default;
$footer-bg: "../images/colors/white/bg_footer.png" !default;
$body-bg: #1d1d1d !default;
$primary-color: #7F7F7F !default;
$primary-color-darker: #5f5f5f !default;
$text-color: #FFF !default;
$text-color-secondary: #bebebe !default;
$text-on-primary: #FFF !default;
$headings-color: #FFF !default;
$border-color: rgba(129, 129, 129, 0.18) !default; //#2e2e2e
$border-color-secondary: #3C3C3C !default;
$btn-bg: #eee !default;
$btn-text-color: #444 !default;
$input-text-color: #ccc !default;
$grad-bg-top: #323232 !default;
$grad-bg-bottom: #232323 !default;
$bg-darker: rgba($grad-bg-bottom, 0.8) !default;


@import '_base.scss';
